@{
    ViewData["Title"] = "Your Car | Waypoint";
    Layout = "~/Views/Shared/AppLayout.cshtml";

}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <iframe src="https://www.google.co.uk/" style="height: 100%;width: 100%;">
</body>
