@{
    ViewData["Title"] = "Home | Waypoint";
    Layout = "~/Views/Shared/AppLayout.cshtml";

}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <h1>Welcome to Waypoint</h1>
</body>