@{
    ViewData["Title"] = "Menu (Mobile)";
}

<html lang="en">

<head>
    <style>
        .menu {
            width: 100%;
            height: 100%;
            background-color: #282a35;
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 3 columns */
            grid-template-rows: repeat(2, 1fr); /* 2 rows */
            gap: 10px; /* Gap between items */
            overflow-y: scroll;
        }

        a {
            color: white !important;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <div class="menu">
        <a href="/App/Index"><i class="fas fa-home"></i><br> Home</a>
        <a href="/App/Map"><i class="fas fa-map"></i><br> Map</a>
        <a href="/App/History"><i class="fas fa-clock"></i><br> History</a>
        <a href="/App/Car"><i class="fas fa-car"></i><br> Your Car</a>
        <a href="/App/Settings"><i class="fas fa-cog"></i><br> Settings</a>
    </div>
</body>

</html>
